
.links { 
       	 stroke:#9ebcda;
	  stroke-opacity: 0.0;
              }

.polygons {
	  fill: #4d004b;
	  stroke:  #810f7c;
	  stroke-width: 2px;
	  }

.polygons :sfirst-child {
	  fill: #f00;
}

.sites { 
  stroke-opacity: 0.0;
  fill-opacity: 0.0;
       fill: #e0ecf4; 
       stroke: #e0ecf4; 
}

